<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739807632229-ver3i5snmg4j0aopfc8l0pi9cbg6tu3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739807632229-ver3i5snmg4j0aopfc8l0pi9cbg6tu3s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>739807632229-mtobt59tcfrj0s123l75sq3hgu8jrrk6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8kkd5ltRf8qR2Y3UR8-lGINvkhV1HgLE</string>
	<key>GCM_SENDER_ID</key>
	<string>739807632229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-shop-app-ccaf1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-shop-app-ccaf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739807632229:ios:a427d8cf95992a3f069f8c</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-shop-app-ccaf1-default-rtdb.firebaseio.com</string>
</dict>
</plist>